//colors
$navy-blue: #03045e;
$dark-cornflower-blue: #023e8a;
$star-command-blue: #0077b6;
$star-green: #0096c7;
$cerlean-crayola: #00b4d8;
$sky-blue-crayola: #90e0ef;
$blizzard-blue: #ade8f4;
$powder-blue: #caf0f8;
$blue-green: #0096c7;
